

h1{
    text-align:  center;
    color:rgb(2, 1, 1);
    font-size:50px;
}
body{
    background-color: rgb(231, 231, 220);
    size: 100px;
}
.h4{
    text-align:  center;
    color:rgb(14, 10, 10);
    font-size:40px;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color:rgb(201, 182, 153);
    display: flex;
    justify-content: space-between;
}
a{
    color:black;
    margin-left: 2%;  
}
a:hover{
    color:rgb(207, 25, 25);
}
h2{
    color:rgb(207, 25, 25);
    margin-left: 70px;
    size: 30px;
}
img{
  
    height: 8%;
    width: 8%;
    
}
img::after{
  transform: scale(0);
  transition: transform 0.2s ease-in-out ;
}
img:hover::after{
    transform: scale(1);
}
h5{
    font-size: 30px;
    color: rgb(163, 24, 24);
    display: inline;
}
h5::after{
    content: "";
    display: block;
    position: absolute;
    width: 11%;
    height: 1px;
    background: black;
}
h4{
    margin-left: 10px;
    color:rgb(7, 5, 5);
    font-size:20px;
}